<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
</head>
<body>
    <h1> this is a index page </h1>
    <p>calculate data  - <%=324343*3435   %></p>
    <h1>key = <%= key %> </h1>
</body>
</html>