section{
    height: 602px;
    width: 602px;
    border: 2px solid black;
}

section>div{
    height:200px;
    width: 200px;
}
#box-1{
     background-color: lightsalmon;
}
#box-2{
    right: 230px;
    top: 10px;
    position: absolute;
     background-color: lightgreen;
}
#box-3{
    position: absolute;
    top: 210px;
    left: 210px;
     background-color: blue;
}
#box-4{
    position: absolute;
    top: 410px;
    right: 230px;
     background-color: yellow;
}
#box-5{
    position: absolute;
    top: 410px;
    left: 10px;
     background-color:coral;
}