<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Enter user details</h1>
    <form action="/submit" method="get">
        <label for="">Username</label>
        <input type="text" name="Uname" id="">
        <label for="">password</label>
        <input type="text" name="Upass" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>